.Dish {
  padding: 15px;
  display: flex;
  align-items: center;
  column-gap: 30px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 20px;
}

.DishName {
  flex-grow: 1;
  font-size: 18px;
}

.DishEdit {
  padding: 5px 10px;
  background-color: #999;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}