.Button {
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.Button_dishDelete {
  background-color: firebrick;
  color: #fff;
}

.Button_completeOrder {
  background-color: seagreen;
  color: #fff;
}

.Button_saveDish {
  background-color: #888;
  color: #fff;
}