.Header {
  background-color: gold;
}

.HeaderInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.HeaderTitle {
  margin: 0;
  font-size: 28px;
}

.HeaderNavigationItem {
  margin-left: 20px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 3px 0;
}

.active {
  border-bottom: 3px solid goldenrod;
}