.Order {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 20px;
  column-gap: 100px;
}

.OrderDetails {
  flex-grow: 1;
}

.ItemInfo {
  display: flex;
  padding: 8px 10px;
  border-bottom: 1px solid #ddd;
}

.ItemInfo:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.ItemQtyAndName {
  flex-grow: 1;
}

.ItemInfo p {
  margin: 0;
}

.OrderSummary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.OrderSummary * {
  margin: 5px 0;
}