.AddEditForm {
  margin: 5px auto 0;
  width: 60%;
}

.AddEditFormTitle {
  padding: 10px;
  margin: 0 0 20px;
  font-size: 22px;
  border-bottom: 2px solid goldenrod;
}

.formRow {
  position: relative;
  margin-bottom: 20px;
}

.formRow label {
  position: absolute;
  top: -9px;
  left: 10px;
  font-size: 14px;
  font-weight: bold;
  color: darkgoldenrod;
  background-color: #fff;
  padding: 0 5px;
}

.formRow input {
  width: 100%;
  padding: 0 10px;
  height: 36px;
  border: 2px solid goldenrod;
  border-radius: 5px;
  color: #222;
  font-size: 16px;
}