.Dishes {
  margin-top: 5px;
}

.DishesTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid goldenrod;
  margin-bottom: 20px;
}

.DishesTitle {
  margin: 0;
  font-size: 22px;
}

.AddDishButton {
  background-color: gold;
  color: #000;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}